<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [3]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [7]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=78eca55994a4e627bde466ff69698905"   #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1695444603,
 'base': 'EUR',
 'date': '2023-09-23',
 'rates': {'AED': 3.919791,
  'AFN': 83.866517,
  'ALL': 106.432889,
  'AMD': 408.634306,
  'ANG': 1.916492,
  'AOA': 886.825673,
  'ARS': 373.539176,
  'AUD': 1.656595,
  'AWG': 1.918253,
  'AZN': 1.81844,
  'BAM': 1.955486,
  'BBD': 2.147055,
  'BDT': 116.701239,
  'BGN': 1.955486,
  'BHD': 0.400836,
  'BIF': 3013.615519,
  'BMD': 1.067178,
  'BND': 1.452367,
  'BOB': 7.347819,
  'BRL': 5.249756,
  'BSD': 1.063429,
  'BTC': 4.0152477e-05,
  'BTN': 88.164426,
  'BWP': 14.487671,
  'BYN': 2.684068,
  'BYR': 20916.697348,
  'BZD': 2.143455,
  'CAD': 1.439784,
  'CDF': 2662.610584,
  'CHF': 0.967515,
  'CLF': 0.034584,
  'CLP': 954.275133,
  'CNY': 7.787846,
  'COP': 4203.524225,
  'CRC': 569.908379,
  'CUC': 1.067178,
  'CUP': 28.280229,
  'CVE': 110.247276,
  'CZK': 24.462829,
  'DJF': 189.339561,
  'DKK': 7.471748,
  'DOP': 60.350298,
  'DZD': 146.530045,
  'EGP': 32.858418,
  'ERN': 16.007677,
  'ETB': 58.811545,
  'EUR': 1,
  'FJD': 2.415068,
  'FKP': 0.870763,
  'GBP': 0.871949,
  'GEL': 2.871127,
  'GGP': 0.870763,
  'GHS': 12.25503,
  'GIP': 0.870763,
  'GMD': 68.837121,
  'GNF': 9131.531978,
  'GTQ': 8.368655,
  'GYD': 222.474234,
  'HKD': 8.345816,
  'HNL': 26.208787,
  'HRK': 7.485946,
  'HTG': 143.556921,
  'HUF': 390.27824,
  'IDR': 16388.712602,
  'ILS': 4.063154,
  'IMP': 0.870763,
  'INR': 88.687906,
  'IQD': 1392.576124,
  'IRR': 45077.617517,
  'ISK': 145.627581,
  'JEP': 0.870763,
  'JMD': 164.663528,
  'JOD': 0.756847,
  'JPY': 158.241629,
  'KES': 154.965087,
  'KGS': 94.669809,
  'KHR': 4375.29661,
  'KMF': 492.556617,
  'KPW': 960.456588,
  'KRW': 1425.382256,
  'KWD': 0.329748,
  'KYD': 0.886158,
  'KZT': 505.308765,
  'LAK': 21401.559399,
  'LBP': 15982.630568,
  'LKR': 344.814566,
  'LRD': 198.926089,
  'LSL': 20.159408,
  'LTL': 3.151101,
  'LVL': 0.645526,
  'LYD': 5.182167,
  'MAD': 10.972436,
  'MDL': 19.34789,
  'MGA': 4828.223795,
  'MKD': 61.600097,
  'MMK': 2233.140991,
  'MNT': 3712.211996,
  'MOP': 8.565823,
  'MRO': 380.982518,
  'MUR': 47.649921,
  'MVR': 16.43854,
  'MWK': 1151.914814,
  'MXN': 18.3702,
  'MYR': 5.006672,
  'MZN': 67.498983,
  'NAD': 20.159403,
  'NGN': 822.264962,
  'NIO': 38.913744,
  'NOK': 11.481955,
  'NPR': 141.063322,
  'NZD': 1.791169,
  'OMR': 0.410853,
  'PAB': 1.063429,
  'PEN': 3.97796,
  'PGK': 3.92137,
  'PHP': 60.661094,
  'PKR': 306.519123,
  'PLN': 4.613893,
  'PYG': 7738.755887,
  'QAR': 3.885638,
  'RON': 4.979245,
  'RSD': 117.25115,
  'RUB': 102.773221,
  'RWF': 1288.992776,
  'SAR': 4.003022,
  'SBD': 8.972989,
  'SCR': 13.883268,
  'SDG': 641.905694,
  'SEK': 11.885064,
  'SGD': 1.457663,
  'SHP': 1.29849,
  'SLE': 23.955199,
  'SLL': 21076.774474,
  'SOS': 607.76203,
  'SSP': 641.911733,
  'SRD': 40.964752,
  'STD': 22088.439003,
  'SYP': 13875.25205,
  'SZL': 20.003784,
  'THB': 38.386802,
  'TJS': 11.681222,
  'TMT': 3.735125,
  'TND': 3.363787,
  'TOP': 2.551094,
  'TRY': 28.998124,
  'TTD': 7.21384,
  'TWD': 34.314096,
  'TZS': 2663.771761,
  'UAH': 39.274986,
  'UGX': 3993.358012,
  'USD': 1.067178,
  'UYU': 40.62088,
  'UZS': 12985.912333,
  'VEF': 3616279.988235,
  'VES': 36.162957,
  'VND': 26009.806434,
  'VUV': 130.193077,
  'WST': 2.972576,
  'XAF': 655.851563,
  'XAG': 0.045321,
  'XAU': 0.000554,
  'XCD': 2.884103,
  'XDR': 0.80637,
  'XOF': 655.851563,
  'XPF': 119.847975,
  'YER': 267.141482,
  'ZAR': 20.013907,
  'ZMK': 9605.890369,
  'ZMW': 22.251423,
  'ZWL': 343.631021}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [11]:
# Turn the data into a dataframe

dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1695444603  EUR  2023-09-23     3.919791
AFN     True  1695444603  EUR  2023-09-23    83.866517
ALL     True  1695444603  EUR  2023-09-23   106.432889
AMD     True  1695444603  EUR  2023-09-23   408.634306
ANG     True  1695444603  EUR  2023-09-23     1.916492
..       ...         ...  ...         ...          ...
YER     True  1695444603  EUR  2023-09-23   267.141482
ZAR     True  1695444603  EUR  2023-09-23    20.013907
ZMK     True  1695444603  EUR  2023-09-23  9605.890369
ZMW     True  1695444603  EUR  2023-09-23    22.251423
ZWL     True  1695444603  EUR  2023-09-23   343.631021

[170 rows x 5 columns]

In [13]:
# Drop unnescessary columns
dataframe = dataframe.drop(columns=['timestamp', 'base', 'date', 'success'])
dataframe

           rates
AED     3.919791
AFN    83.866517
ALL   106.432889
AMD   408.634306
ANG     1.916492
..           ...
YER   267.141482
ZAR    20.013907
ZMK  9605.890369
ZMW    22.251423
ZWL   343.631021

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [14]:
# Save the Dataframe
dataframe.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).